@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>A la página de administración, donde puede dar de alta nuevo platillos, modificarlos o inhabilitarlos</h2>
    <img src="/img/Portada.jpeg" class="img-fluid" />
</div>
